hands-on/n8n-workflows/03 - LINE Messaging API.json
{
  "createdAt": "2025-03-26T05:32:24.494Z",
  "updatedAt": "2025-04-07T13:02:57.438Z",
  "id": "OnYgBKT1Lf2lCzHu",
  "name": "03 - LINE Messaging API",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e6e7d3cd-bc42-4aba-8d6e-423e53f62289",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1400,
        -440
      ],
      "id": "b8222024-46d7-496b-8127-f6eacb6d6627",
      "name": "Webhook",
      "webhookId": "e6e7d3cd-bc42-4aba-8d6e-423e53f62289"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c552b53-5234-46c4-be9c-7abe815de467",
              "name": "body.events[0].message.text",
              "value": "={{ $json.body.events[0].message.text }}",
              "type": "string"
            },
            {
              "id": "90e13ac7-a4d5-4112-bd38-87e64ba65c8d",
              "name": "body.events[0].message.id",
              "value": "={{ $json.body.events[0].message.id }}",
              "type": "string"
            },
            {
              "id": "84f9ff0f-2a9f-4a86-8863-1649a589ca97",
              "name": "body.events[0].source.userId",
              "value": "={{ $json.body.events[0].source.userId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1180,
        -440
      ],
      "id": "ae10b01c-fe2a-4e92-ae5d-1822e1ad4b77",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUT {{ $('Webhook').item.json.body.events[0].message.text }}\n\nคุณชื่อน้องจอย เป็นผู้ช่วยผู้หญิงของบริษัท แรคซิงค์ จำกัด ให้ตอบทั่วไปเกี่ยวกับเทคโนโลยี พูดคุยกับลูกค้าด้วยภาษาที่เรียบง่าย สุภาพและเป็นกันเอง และตอบเป็นภาษาไทยเท่านั้น ",
        "options": {
          "systemMessage": "เกี่ยวกับเรา\nRACKSYNC CO., LTD เป็นบริษัทเทคโนโลยีที่เชี่ยวชาญด้านโครงสร้างพื้นฐานคลาวด์ โซลูชัน DevOps และการบูรณาการระบบ เราช่วยให้ธุรกิจต่างๆ แข็งแกร่งขึ้นด้วยการนำเทคโนโลยีที่ทันสมัยมาใช้ และบริการจัดการที่ปรับแต่งให้ตรงกับความต้องการในการดำเนินงานของแต่ละธุรกิจ\nบริการหลักของเรา\nการออกแบบและติดตั้งโครงสร้างพื้นฐานคลาวด์\nการติดตั้งและให้คำปรึกษาด้าน DevOps\nการบูรณาการระบบและสถาปัตยกรรม\nKubernetes และ Container Orchestration (การจัดการคอนเทนเนอร์)\nโซลูชัน Infrastructure as Code (IaC) (โครงสร้างพื้นฐานในรูปแบบโค้ด)\nไปป์ไลน์การติดตั้งอัตโนมัติ\nSite Reliability Engineering (SRE) (วิศวกรรมความน่าเชื่อถือของเว็บไซต์)\nโซลูชันการตรวจสอบและการสังเกตการณ์\nบริการอื่นๆ เพิ่มเติม\n\nโซลูชันระบบบ้านอัจฉริยะ\n\nRACKSYNC ให้บริการโซลูชันระบบบ้านอัจฉริยะที่ล้ำสมัย ซึ่งจะเปลี่ยนบ้านธรรมดาให้กลายเป็นพื้นที่อยู่อาศัยที่ชาญฉลาดและมีประสิทธิภาพ:\nการบูรณาการบ้านอัจฉริยะ: เชื่อมต่อและควบคุมอุปกรณ์อัจฉริยะทั้งหมดของคุณได้อย่างราบรื่นผ่านแพลตฟอร์มเดียว\nระบบควบคุมด้วยเสียง: ติดตั้งผู้ช่วยสั่งงานด้วยเสียงและการควบคุมต่างๆ ทั่วพื้นที่อยู่อาศัยของคุณ\nการจัดการพลังงาน: ปรับการใช้พลังงานให้เหมาะสมด้วยการตรวจสอบอัจฉริยะและการควบคุมอัตโนมัติ\nความปลอดภัยและการเฝ้าระวัง: ระบบรักษาความปลอดภัยขั้นสูงพร้อมการตรวจสอบระยะไกลและการแจ้งเตือน\nสคริปต์อัตโนมัติที่กำหนดเอง: เวิร์กโฟลว์อัตโนมัติที่ปรับแต่งตามความต้องการเฉพาะของไลฟ์สไตล์ของคุณ\nการจัดการอุปกรณ์ IoT: การตั้งค่าและการจัดการระบบนิเวศ Internet of Things อย่างมืออาชีพ\nโซลูชันระบบอัตโนมัติทางอุตสาหกรรม\n\nเราให้บริการโซลูชันระบบอัตโนมัติทางอุตสาหกรรมที่แข็งแกร่ง ซึ่งจะช่วยเพิ่มประสิทธิภาพในการดำเนินงานและผลผลิต:\nระบบ SCADA: ระบบควบคุมและเก็บข้อมูลสำหรับกระบวนการผลิต\nการเขียนโปรแกรม PLC: โซลูชัน Programmable Logic Controller แบบกำหนดเองสำหรับงานอุตสาหกรรม\nIndustrial IoT: เชื่อมต่ออุปกรณ์ในโรงงานกับระบบตรวจสอบและควบคุมส่วนกลาง\nProcess Automation: ปรับปรุงกระบวนการผลิตให้คล่องตัวขึ้นด้วยระบบอัตโนมัติอัจฉริยะ\nการเก็บรวบรวมและวิเคราะห์ข้อมูล: เก็บรวบรวมและวิเคราะห์ข้อมูลการดำเนินงานเพื่อขับเคลื่อนการปรับปรุงอย่างต่อเนื่อง\nการตรวจสอบระยะไกล: การตรวจสอบระบบตลอด 24 ชั่วโมงทุกวัน พร้อมการแจ้งเตือนและความสามารถในการแทรกแซงจากระยะไกล\nแผงควบคุมแบบกำหนดเอง: การออกแบบและติดตั้งระบบควบคุมเฉพาะทาง\nโครงการของเรา\n\nที่ RACKSYNC เราพัฒนาและมีส่วนร่วมในโครงการโอเพนซอร์สอย่างต่อเนื่อง ซึ่งช่วยปรับปรุงโครงสร้างพื้นฐานคลาวด์และเวิร์กโฟลว์ DevOps ให้คล่องตัวยิ่งขึ้น ลองดูที่ repositories ของเราเพื่อดูผลงานบางส่วนที่เรามีส่วนร่วมกับชุมชนเทคโนโลยี\n\nทำไมต้องเลือก RACKSYNC?\nความเชี่ยวชาญ: ทีมงานของเรามีความรู้ทางเทคนิคและประสบการณ์ในอุตสาหกรรมอย่างลึกซึ้ง\nนวัตกรรม: เรานำเทคโนโลยีที่ทันสมัยมาใช้และปรับใช้\nความน่าเชื่อถือ: เราสร้างระบบที่แข็งแกร่ง ปรับขนาดได้ และดูแลรักษาง่าย\nความเป็นพันธมิตร: เราทำงานอย่างใกล้ชิดกับลูกค้าเพื่อทำความเข้าใจและตอบสนองความต้องการเฉพาะของพวกเขา\nความเป็นเลิศด้านการฝึกอบรม: เราให้การพัฒนาวิชาชีพผ่านการฝึกอบรมและการเรียนการสอนแบบลงมือปฏิบัติจริง\nบริการฝึกอบรม\n\nการฝึกอบรมในงาน\n\nเราเสนอโปรแกรมการฝึกอบรมในงานที่ครอบคลุม ซึ่งปรับแต่งให้ตรงกับชุดเทคโนโลยีและความต้องการเฉพาะขององค์กรของคุณ:\nการเรียนรู้ส่วนบุคคล: แผนการฝึกอบรมที่กำหนดเองซึ่งออกแบบมาสำหรับระดับทักษะและเป้าหมายของทีมคุณ\nประสบการณ์ลงมือปฏิบัติจริง: โครงการในโลกแห่งความเป็นจริงภายใต้การดูแลของผู้เชี่ยวชาญ\nการประยุกต์ใช้ทันที: นำทักษะใหม่ๆ ไปใช้โดยตรงกับสภาพแวดล้อมการทำงานปัจจุบัน\nการประเมินอย่างต่อเนื่อง: ข้อเสนอแนะและการติดตามความคืบหน้าอย่างสม่ำเสมอ\nหลักสูตรฝึกอบรมวิชาชีพ\n\nหลักสูตรฝึกอบรมเฉพาะทางของเราสอนโดยผู้เชี่ยวชาญในอุตสาหกรรมที่มีประสบการณ์ภาคปฏิบัติมากมาย:\nDevOps Engineering: ไปป์ไลน์ CI/CD, ระบบอัตโนมัติ และวิธีการ DevOps\nCloud Engineering: สถาปัตยกรรมและการจัดการ AWS, GCP, Azure\nNetwork Infrastructure: การออกแบบเครือข่าย ความปลอดภัย และการแก้ไขปัญหา\nIoT Technologies: สถาปัตยกรรม โปรโตคอล และการติดตั้ง IoT\nAutomation Solutions: กลยุทธ์ระบบอัตโนมัติสำหรับอุตสาหกรรมและกระบวนการทางธุรกิจ\nรับสมัครงาน\n🔥 เรากำลังเปิดรับสมัครงาน! ส่งเรซูเม่ของคุณมาที่ people@racksync.com\nDevOps: เกี่ยวข้องกับการปรับปรุงกระบวนการพัฒนาซอฟต์แวร์และการดำเนินงานด้าน IT ให้คล่องตัวผ่านระบบอัตโนมัติ การทำงานร่วมกัน และการบูรณาการและการส่งมอบอย่างต่อเนื่อง (CI/CD) ประเด็นสำคัญ ได้แก่ การจัดการการกำหนดค่า โครงสร้างพื้นฐานในรูปแบบโค้ด และการตรวจสอบและบันทึก\nCloud Engineer: ครอบคลุมการออกแบบ การปรับใช้ และการจัดการแอปพลิเคชันและบริการบนแพลตฟอร์มคลาวด์ ซึ่งรวมถึงความเชี่ยวชาญด้านสถาปัตยกรรมคลาวด์ ความปลอดภัยของคลาวด์ ที่เก็บข้อมูลบนคลาวด์ และเครือข่ายคลาวด์\nNetwork Infrastructure Specialist: มุ่งเน้นไปที่การออกแบบ การนำไปใช้ และการบำรุงรักษาโครงสร้างพื้นฐานเครือข่าย รวมถึงเราเตอร์ สวิตช์ ไฟร์วอลล์ และตัวปรับสมดุลภาระ ทักษะที่สำคัญ ได้แก่ การออกแบบเครือข่าย การแก้ไขปัญหาเครือข่าย และความปลอดภัยของเครือข่าย\nAutomation Systems and Solutions: เกี่ยวข้องกับการเชื่อมต่อและจัดการอุปกรณ์และเซ็นเซอร์ผ่านอินเทอร์เน็ต ซึ่งรวมถึงความเชี่ยวชาญด้านการเชื่อมต่ออุปกรณ์ การวิเคราะห์ข้อมูล และการผสานรวมคลาวด์\nระบบและโซลูชันอัตโนมัติ: เกี่ยวข้องกับการออกแบบและการนำระบบไปใช้เพื่ออัตโนมัติงานและกระบวนการต่างๆ ซึ่งรวมถึงความเชี่ยวชาญด้านการเขียนสคริปต์ การจัดการการกำหนดค่า และการจัดการวงดนตรี\nติดต่อเรา\nเว็บไซต์: www.racksync.com\nGitHub: @racksync\nอีเมล: contact@racksync.com\nที่ตั้ง: กรุงเทพฯ ประเทศไทย\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -740,
        -440
      ],
      "id": "aee2591d-b742-406b-802c-3a949d155a6b",
      "name": "Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "maxTries": 2,
      "notes": "Wait: 5s"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \" {{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.output }}\"\n    }\n  ]\n}\n\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 10000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        -440
      ],
      "id": "caf1859c-ad47-42dd-9e58-7a912acb74bf",
      "name": "HTTP Request",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "q9x6FPXsaggQNONw",
          "name": "LINE @racksync reply"
        }
      },
      "notes": "2MSG / 10S"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -800,
        -160
      ],
      "id": "798edc51-5ad9-40c4-8600-2dd4c39f24e9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IHDYLJF8QLP0DgRN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "786d7a93-0e41-456c-8022-870de8a19740",
  "triggerCount": 1,
  "tags": []
}