hands-on/n8n-workflows/05 - Content Assistant - Google Sheets (Smart Home Content).json
{
  "createdAt": "2025-03-25T13:30:21.702Z",
  "updatedAt": "2025-04-07T13:20:46.044Z",
  "id": "xEjeS1UtaSS0xnmg",
  "name": "05 - Content Assistant - Google Sheets (Smart Home Content)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        20
      ],
      "id": "41fb2dd2-a0ee-4563-b31d-192a9c6e69d6",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#ROLE:\nคุณจะรับบทเป็น ผู้เชี่ยวชาญด้านการเขียนเนื้อหา Smart Home และ Home Automation ที่เน้นการสร้างเนื้อหาที่เข้าใจง่าย ดึงดูดกลุ่มเป้าหมาย และเป็นมิตรกับเครื่องมือค้นหา (SEO) เพื่อเพิ่มโอกาสในการติดอันดับดีใน Google และกระตุ้นให้ผู้เข้าชมเกิดความสนใจและดำเนินการตามที่กำหนด\n\n#INSTRUCTION:\nคุณจะสร้างเนื้อหาเกี่ยวกับ Smart Home และ Home Automation โดยเน้นการใช้งานคำสำคัญ (Keyword) ที่เหมาะสม และเขียนเนื้อหาในรูปแบบที่อ่านง่าย เป็นมิตรกับผู้อ่าน เน้นการให้ข้อมูลที่เป็นประโยชน์และช่วยในการตัดสินใจสำหรับกลุ่มเป้าหมาย\n\n#STEPS:\n\n1.วิเคราะห์คำสำคัญ (Keyword Research)\nระบุคำสำคัญหลักและคำสำคัญรอง ที่เกี่ยวข้องกับ Smart Home และ Home Automation เช่น คำที่ผู้ใช้งานนิยมค้นหาใน Google\n\n2.ตั้งชื่อบทความให้น่าสนใจ\nตั้งชื่อที่ชัดเจน ดึงดูดความสนใจ และตรงกับความต้องการของกลุ่มเป้าหมาย เช่น\n\"5 อุปกรณ์ Smart Home ยอดนิยมที่คนยุคใหม่ต้องมี\"\n\"เคล็ดลับเปลี่ยนบ้านธรรมดาให้เป็น Smart Home อย่างมืออาชีพ\"\n\n3.เขียนบทนำให้ดึงดูด\nเริ่มต้นบทความด้วยปัญหา คำถาม หรือสถานการณ์ที่กลุ่มเป้าหมายสนใจ\nใส่คำสำคัญหลักอย่างเป็นธรรมชาติ\n\n4.สร้างโครงสร้างที่ชัดเจน\nแบ่งเนื้อหาเป็นหัวข้อย่อย (H2, H3) เพื่อความชัดเจนในการอ่าน\nแต่ละหัวข้อควรมีคำสำคัญรองที่เกี่ยวข้อง และเน้นให้ข้อมูลที่ตอบโจทย์ความสนใจของผู้อ่าน\n\n5.เนื้อหาอ่านง่าย เป็นกันเอง\nใช้ภาษาที่เป็นมิตรและเป็นกันเอง เช่น ใช้คำว่า \"คุณ\", \"เรา\" เพื่อเชื่อมโยงผู้อ่าน\nประโยคควรกระชับ สั้น เข้าใจง่าย และเน้นจุดเด่นสำคัญของเนื้อหา\n\n6.แนะนำผลิตภัณฑ์หรือบริการที่เกี่ยวข้อง\nหากเหมาะสม ให้แนะนำผลิตภัณฑ์หรือบริการที่เกี่ยวข้อง พร้อมระบุประโยชน์และคุณสมบัติที่ชัดเจน\n\n7.เพิ่ม Call to Action (CTA)\nสรุปเนื้อหาโดยกระตุ้นให้ผู้อ่านดำเนินการ เช่น\n\"พร้อมเปลี่ยนบ้านของคุณให้ทันสมัยแล้วหรือยัง? ติดต่อเราวันนี้!\"\n\"สนใจระบบบ้านอัจฉริยะเพื่อชีวิตที่ง่ายขึ้น? สอบถามข้อมูลเพิ่มเติมได้เลย!\"\n\n#EXPECTATION:\nบทความต้อง:\n🚀 มีการใช้คำสำคัญหลักและคำสำคัญรองอย่างเหมาะสม เป็นธรรมชาติ\n🚀 มีเนื้อหาที่เป็นประโยชน์ ดึงดูดกลุ่มเป้าหมาย และกระตุ้นให้ผู้อ่านมีส่วนร่วม\n🚀 ภาษาอ่านง่าย เป็นกันเอง และโครงสร้างชัดเจน\n🚀 มีความยาวอย่างน้อย 800 คำ\n\n#INPUT:\nกลุ่มเป้าหมาย: เจ้าของบ้านหรือคอนโด อายุ 30-50 ปี ที่สนใจอัปเกรดบ้านให้ทันสมัยด้วยเทคโนโลยี Smart Home\nคำสำคัญหลัก: {{ $json.Topic }}\nวัตถุประสงค์: {{ $json.Objectives }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        280,
        -160
      ],
      "id": "a38cec8f-19d3-4681-99de-491f6fd3dcac",
      "name": "AI Agent",
      "notesInFlow": false,
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        80
      ],
      "id": "90c27997-c8fe-498e-9cf4-fb5f8efde585",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IHDYLJF8QLP0DgRN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q",
          "mode": "list",
          "cachedResultName": "01 - n8n Workshop",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Smart Home Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -360,
        -180
      ],
      "id": "9d68017f-2f56-413b-9648-ae95c5025041",
      "name": "Google Sheets Read",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1D9N2VJ4JsuqPKhM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q",
          "mode": "list",
          "cachedResultName": "01 - n8n Workshop",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Smart Home Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Google Sheets Read').item.json.row_number }}",
            "Status": "Done",
            "Output Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Objectives",
              "displayName": "Objectives",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Output Content",
              "displayName": "Output Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        -160
      ],
      "id": "e64a581f-abf3-4425-aac0-a4a791f3077d",
      "name": "Google Sheets Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1D9N2VJ4JsuqPKhM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "={{ $json.row_number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -60,
        -180
      ],
      "id": "3418c314-5856-4b85-bdd4-ea4363595c26",
      "name": "Loop Over Items",
      "retryOnFail": false,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q",
          "mode": "list",
          "cachedResultName": "01 - n8n Workshop",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Smart Home Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        -180
      ],
      "id": "47105271-f932-4ca3-83b8-5712cd26a281",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "Oo8tE6JXqH0MLCFh",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        60
      ],
      "id": "ba8ad8cc-6973-45c5-b5d4-03a7d7ef65f3",
      "name": "Wait",
      "webhookId": "3c0a9995-2fe1-4da3-908b-d01fc2b18765"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Update": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q",
      "sheetId": 0,
      "lastRevision": 335,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q&revision=335&exportFormat=xlsx"
    }
  },
  "meta": {
    "instanceId": "341c5a6b1d575fb343bde47531535511b29a36df554d778242514eead0b27334"
  },
  "pinData": {},
  "versionId": "85735203-29e8-4a22-9298-1e94e38cbc07",
  "triggerCount": 1,
  "tags": []
}