hands-on/n8n-workflows/16 - RAG - Supabase (LINE Bot API).json
{
  "createdAt": "2025-03-26T08:18:00.901Z",
  "updatedAt": "2025-04-07T20:37:23.515Z",
  "id": "fKf0hRaGYjUUngVf",
  "name": "16 - RAG w/ Supabase (LINE Bot API)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1E8K0r_xxniUH67dJbHGVTIsWub1NKos8",
          "mode": "list",
          "cachedResultName": "HR RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1E8K0r_xxniUH67dJbHGVTIsWub1NKos8"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2580,
        -1460
      ],
      "id": "cb9772ae-2451-4982-baca-8d8b7dd3f8d1",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fj7lxMygXDU9wUwc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d2cf559-9dcb-4990-9da7-4bca8e82c054",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2360,
        -1460
      ],
      "id": "c516e911-64fd-4428-b4a7-e5efc4f8134b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2140,
        -1460
      ],
      "id": "8186a60b-8474-49e2-ba88-abfeb07545e1",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fj7lxMygXDU9wUwc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "range": "A2:J161",
          "sheetName": "Employee"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1920,
        -1460
      ],
      "id": "3dcd113f-7df0-4cb3-84a7-7650f95ef270",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1700,
        -1460
      ],
      "id": "ac5a4019-c2c1-4d84-bccc-6101425092dd",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -1480,
        -1460
      ],
      "id": "72bc918b-f198-45a2-8fb4-3d1d519e5ce8",
      "name": "Summarize"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -1244,
        -1460
      ],
      "id": "1850cef4-4414-4b47-aaf4-d31536e5681b",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "pevV1mPfjsKkSlVD",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -1100,
        -1240
      ],
      "id": "981f7a21-36b5-4aa3-b488-0396e6e50c12",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1536,
        "chunkOverlap": 512,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1040,
        -1040
      ],
      "id": "fe13616f-1f60-4883-ac04-d122822d22a9",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1260,
        -1240
      ],
      "id": "49aa0601-3a8f-40e2-855a-19d6f63c19c1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "IHDYLJF8QLP0DgRN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "- embedding = 1024 for ollama (mxbai-embed-large)\n- embeding = 768 for google embedings\n- LINE @racksync",
        "height": 100,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2640,
        -1600
      ],
      "typeVersion": 1,
      "id": "73e95535-58d8-4f99-babc-7534f5fe040f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e6e7d3cd-bc42-4aba-8d6e-423e53f62289",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2360,
        -760
      ],
      "id": "656f8dc8-87e6-4a9a-9af4-253230818414",
      "name": "Webhook",
      "webhookId": "e6e7d3cd-bc42-4aba-8d6e-423e53f62289"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c552b53-5234-46c4-be9c-7abe815de467",
              "name": "body.events[0].message.text",
              "value": "={{ $json.body.events[0].message.text }}",
              "type": "string"
            },
            {
              "id": "90e13ac7-a4d5-4112-bd38-87e64ba65c8d",
              "name": "body.events[0].message.id",
              "value": "={{ $json.body.events[0].message.id }}",
              "type": "string"
            },
            {
              "id": "84f9ff0f-2a9f-4a86-8863-1649a589ca97",
              "name": "body.events[0].source.userId",
              "value": "={{ $json.body.events[0].source.userId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2140,
        -760
      ],
      "id": "c60c0fc2-0543-4059-9753-73a33229dc5b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณเป็นผู้ช่วยผู้หญิง ตอบคำถามด้านทรัพยากรบุคคลเป็นภาษาไทยเท่านั้น  และการตอบชื่อบริษัทให้ใช้ตัวพิมพ์ใหญ่ทั้งหมด เช่น RACKSYNC และเมื่อไรที่มี new line ให้ใช้ \"\\\\n\" แทน \"\\n\"\n\n\nINPUT: {{ $json.body.events[0].message.text }}\n\n",
        "options": {
          "systemMessage": "You are a helpful assistant to retreive data from database to answer"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1880,
        -760
      ],
      "id": "89144383-76df-42f5-9220-1bc97f39a174",
      "name": "Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "maxTries": 2,
      "notes": "Wait: 5s"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \" {{$('Webhook').item.json.body.events[0].replyToken}}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{$json.output}}\"\n    }\n  ]\n}\n\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 10000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        -760
      ],
      "id": "b2c333e2-f8c7-44c1-9d69-0eb51c8563ca",
      "name": "HTTP Request",
      "notesInFlow": true,
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "q9x6FPXsaggQNONw",
          "name": "LINE @racksync reply"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.events[0].message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1800,
        -540
      ],
      "id": "9f1503c4-c2aa-4880-8273-6844427a7c00",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9dItVa5NzPSXUP0N",
          "name": "Supabase (PG)"
        }
      }
    },
    {
      "parameters": {
        "name": "documents",
        "description": "Call this tool to retrieve HR information to users.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -1680,
        -520
      ],
      "id": "59ebe96d-2143-4db1-8cc5-98e7bbc69617",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -1780,
        -320
      ],
      "id": "0f743fba-0253-4fc1-9892-e9a224f71d12",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "pevV1mPfjsKkSlVD",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.3:latest",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -1240,
        -360
      ],
      "id": "0e6ff561-3b26-437b-8bc9-a0830fa7ca84",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "0PYwHyuTIKj4lRIL",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-exp-03-25",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1920,
        -540
      ],
      "id": "711120e1-6ddd-4ee7-b4d5-7cda7c33911f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IHDYLJF8QLP0DgRN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-exp-03-25",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1440,
        -340
      ],
      "id": "2c13e1b5-18cc-44ad-b559-4bba85a681f8",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "IHDYLJF8QLP0DgRN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1700,
        -60
      ],
      "id": "1b93579a-c2f2-4cdc-bae6-ecdcb8d7a05b",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "IHDYLJF8QLP0DgRN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-03-30T14:59:09Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "91fb7687-137b-4ad7-a0f4-bb0d36c334d8",
  "triggerCount": 2,
  "tags": []
}