n8n-workflows/Google_Sheets___Strategic.json
{
  "name": "Google Sheets - Strategic",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        120
      ],
      "id": "483e268e-c725-4d3e-be77-4725d0fc1969",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#ROLE:\n\nคุณจะรับบทเป็น #ผู้เชี่ยวชาญด้านการวางแผนกลยุทธ์การทำงานและการบริหารจัดการประสิทธิภาพขององค์กร โดยมีเป้าหมายในการให้คำแนะนำและการวางแผนกลยุทธ์เพื่อช่วยให้องค์กรสามารถปรับปรุงประสิทธิภาพและประสิทธิผลในการทำงานได้อย่างมีประสิทธิภาพ\n\n#INSTRUCTION:\n\nคุณจะสร้างเนื้อหาที่เน้นการวางแผนกลยุทธ์และการบริหารจัดการ โดยใช้คำสำคัญ (Keyword) อย่างเหมาะสม เขียนในรูปแบบที่เข้าใจง่าย มีโครงสร้างที่อ่านสะดวก และเน้นให้ผู้อ่านสามารถนำความรู้ไปประยุกต์ใช้ในการทำงานจริง\n\nSTEPS:\n\n1. วิเคราะห์คำสำคัญ (Keyword Research)\n\nระบุคำสำคัญหลัก และคำสำคัญรองที่เกี่ยวข้องกับหัวข้อ เช่น คำที่องค์กรหรือผู้อ่านมักใช้ค้นหาข้อมูลเกี่ยวกับการวางแผนกลยุทธ์และการบริหารจัดการองค์กร\n\nตัวอย่าง Keyword เพิ่มเติม:\nStrategic Planning, Performance Management, Goal Setting, KPI, OKR, Time Management, Productivity Improvement, Workflow Optimization, Change Management, Decision Making, Resource Allocation, Project Management, Team Collaboration, Leadership Development, Business Agility\n\n2. ตั้งหัวข้อเนื้อหาให้น่าสนใจ\n\nสร้างหัวข้อที่ดึงดูดและชัดเจนในการสื่อสารผลลัพธ์ที่ผู้อ่านจะได้รับ เช่น\n\n\"วิธีการวางแผนกลยุทธ์อย่างไรให้เห็นผลจริงในองค์กร\"\n\n\"เคล็ดลับเพิ่มประสิทธิภาพการทำงานด้วยเทคนิคบริหารจัดการสมัยใหม่\"\n\n3. เขียนคำอธิบายเนื้อหาที่ชัดเจน\n\nเริ่มต้นคำอธิบายด้วยคำถามหรือปัญหาที่องค์กรหรือผู้อ่านต้องการแก้ไข\nแทรกคำสำคัญหลักอย่างเป็นธรรมชาติและตรงจุดประสงค์\n\n4. สร้างโครงสร้างเนื้อหาที่ชัดเจน\n\nแบ่งเนื้อหาออกเป็นหัวข้อย่อย (H2, H3) พร้อมระบุเป้าหมายในการนำไปใช้จริงแต่ละส่วน\nแต่ละหัวข้อต้องมีการระบุคำสำคัญรองที่เกี่ยวข้องและเน้นการนำไปประยุกต์ใช้จริง\n\nตัวอย่างโครงสร้างเนื้อหา:\n\nหัวข้อที่ 1: เข้าใจพื้นฐานการวางแผนกลยุทธ์\n\nความสำคัญและหลักการของการวางแผนกลยุทธ์\n\nเทคนิคการตั้งเป้าหมาย (Goal Setting) และ KPI ที่เหมาะสม\n\nหัวข้อที่ 2: ยกระดับการบริหารจัดการประสิทธิภาพองค์กร\n\nการใช้ OKR ในการบริหารประสิทธิภาพทีมงาน\n\nแนวทางการเพิ่ม Productivity และ Workflow Optimization\n\nหัวข้อที่ 3: แนวทางบริหารจัดการการเปลี่ยนแปลงให้สำเร็จ\n\nเทคนิค Change Management ในองค์กร\n\nวิธีการตัดสินใจและการจัดสรรทรัพยากรอย่างมีประสิทธิภาพ\n\nหัวข้อที่ 4: เสริมสร้างภาวะผู้นำและการทำงานร่วมกันในองค์กร\n\nการพัฒนาภาวะผู้นำที่จำเป็นสำหรับองค์กรสมัยใหม่\n\nเทคนิคสร้างความร่วมมือและความสามัคคีภายในทีมงาน\n\n5. เน้นการนำไปใช้ได้จริง\n\nเขียนเนื้อหาในรูปแบบที่เข้าใจง่าย ใช้ภาษาเป็นกันเอง และกระตุ้นการมีส่วนร่วมของผู้อ่าน\nใช้ตัวอย่างกรณีศึกษา (Case Study) หรือแนวทางปฏิบัติจริงที่ช่วยให้ผู้อ่านนำไปใช้ในองค์กรได้ทันที\n\n6. เพิ่ม Call to Action (CTA)\n\nสรุปเนื้อหาพร้อมใส่ข้อความกระตุ้นให้ผู้อ่านดำเนินการ เช่น\n\n\"พร้อมที่จะสร้างกลยุทธ์ที่มีประสิทธิภาพแล้วหรือยัง? ติดต่อเราเพื่อรับคำปรึกษาเฉพาะทางได้เลย!\"\n\n\"เริ่มต้นเพิ่มประสิทธิภาพทีมของคุณวันนี้! สอบถามเพิ่มเติมได้ทันที\"\n\nวัตถุประสงค์:\n\nเพื่อให้คำแนะนำและแผนงานในการพัฒนาการวางแผนกลยุทธ์และการบริหารจัดการองค์กร\n\nเพื่อช่วยให้องค์กรเพิ่มประสิทธิภาพและประสิทธิผลในการทำงาน\n\nเพื่อให้ผู้อ่านสามารถนำความรู้ไปประยุกต์ใช้ในองค์กรได้อย่างเป็นรูปธรรม\n\nกลุ่มผู้อ่าน:\n\nกลุ่มคนทำงานด้าน IT อายุ 20 ปีขึ้นไป\n\n#INPUT:\n\nกลุ่มเป้าหมาย: กลุ่มคนทำงานด้าน IT อายุ 20 ปีขึ้นไปคำสำคัญหลัก: {{ $json.Topic }}วัตถุประสงค์: {{ $json.Objectives }}\n\n#EXPECTATION:\n\nเนื้อหาที่สร้างต้อง:\n✅ ใช้คำสำคัญหลักและรองอย่างเหมาะสมในหัวข้อ คำอธิบาย และเนื้อหา\n✅ มีเนื้อหาที่เน้นการปฏิบัติจริง เหมาะสำหรับการนำไปใช้ในการวางแผนกลยุทธ์และบริหารจัดการ\n✅ มีภาษาอ่านง่าย เป็นกันเอง และเหมาะกับกลุ่มเป้าหมายที่เป็นผู้ทำงานในองค์กร\n✅ มีรายละเอียดเนื้อหาที่ชัดเจน ครอบคลุมทุกด้านของการวางแผนกลยุทธ์และการจัดการประสิทธิภาพ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        440,
        -100
      ],
      "id": "9a270f3e-06e9-4725-90be-ab1d35d3926a",
      "name": "AI Agent",
      "notesInFlow": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-1219",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        460,
        280
      ],
      "id": "6e978e27-0f9f-48c1-a03e-fd00c69a7750",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EZNt5KWicDP0EnGT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "phi4:14b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -40,
        400
      ],
      "id": "6730169f-1617-47b1-86ae-6e5149912231",
      "name": "Ollama Chat Model",
      "notesInFlow": false,
      "credentials": {
        "ollamaApi": {
          "id": "LqrILUxDpMacgWLM",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q",
          "mode": "list",
          "cachedResultName": "01 - n8n Workshop",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1683001557,
          "mode": "list",
          "cachedResultName": "Strategic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q/edit#gid=1683001557"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -360,
        -140
      ],
      "id": "84fe6474-4830-4544-aee4-46c998b1859d",
      "name": "Google Sheets Read",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eZItVDk1tbCSm0ze",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q",
          "mode": "list",
          "cachedResultName": "01 - n8n Workshop",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1683001557,
          "mode": "list",
          "cachedResultName": "Strategic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q/edit#gid=1683001557"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Google Sheets Read').item.json.row_number }}",
            "Status": "Done",
            "Output Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Objectives",
              "displayName": "Objectives",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Output Content",
              "displayName": "Output Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        860,
        -100
      ],
      "id": "5aaaaa37-059c-4b4b-a524-3e8c2cf6b626",
      "name": "Google Sheets Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eZItVDk1tbCSm0ze",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "={{ $json.row_number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        160,
        -100
      ],
      "id": "3c90d973-0a35-419d-8319-33a03a121bd3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Loop",
      "typeVersion": 1,
      "position": [
        -60,
        -280
      ],
      "id": "9add2bf0-ad38-4e6b-9e7a-75fe3ec6adad"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q",
          "mode": "list",
          "cachedResultName": "01 - n8n Workshop",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1683001557,
          "mode": "list",
          "cachedResultName": "Strategic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDRauZHOdr8mQfVd1tf2iBkALW3aDq2l4Wp9-3J1a1Q/edit#gid=1683001557"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        -140
      ],
      "id": "4d70bed9-e2a4-4d65-ab1c-fc003fdf196f",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ThUva1ddlHo5TrP8",
          "name": "Google Sheets Trigger account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ed6583f-c993-46aa-bc3e-130cc1fcdf51",
  "meta": {
    "instanceId": "341c5a6b1d575fb343bde47531535511b29a36df554d778242514eead0b27334"
  },
  "id": "WxlrDdPCPEWm8sjn",
  "tags": []
}